/* styles.css */
@font-face {
    font-family: "Karma-Regular";
    src: url("Karma-Regular.ttf")
}
@font-face {
    font-family: "Karma-SemiBold";
    src: url("Karma-SemiBold.ttf")
}
@font-face {
    font-family: "KaushanScript-Regular";
    src: url("KaushanScript-Regular.ttf")
}
body {
    background-color: #B77B61;
}
.welcoming-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.first-line {
    font-family: KaushanScript-Regular, sans-serif;
}
.welcoming-img {
    height: 15em;
    width: 35em;
}